.listfont	{
	font-family: Segoe UI;
}
.center		{
	right: auto;
	left: auto;
	width:400px;
}
.centerdivindex	{
	width: 425px;
	margin-right: auto;
	margin-left: auto;
	padding: 15px;
}
.centerdivresume	{
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	padding: 15px;
}