.listfont	{
	font-family: Segoe UI;
}
.center		{
	right: auto;
	left: auto;
	width:400px;
	
}
.centerdivindex	{
	width: 775px;
	margin-right: auto;
	margin-left: auto;
	padding: 15px;
	background-color: white;
}
.centerdivresume	{
	width: 775px;
	margin-right: auto;
	margin-left: auto;
	padding: 15px;
	background-color: white;
}

.backgroundcolor	{
	background-color: #000033
}